@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
	--brand: #0000ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
	--color-brand: var(--brand);
  --font-mont: var(--font-mont);
  --font-jura: var(--font-jura);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	border: 1px solid rgba(255, 255, 255, 0.13);
}
